# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules
/functions/node_modules

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# osx
.DS_Store

# android
android/build/
android/app/build/
.idea
.gradle
local.properties
*.iml

#buck
buck-out/
\.buckd/
*.keystore

.vscode/

# key
functions/awesome-places.json